@import url('https://rsms.me/inter/inter.css');
@import 'tailwindcss';

@theme {
  --font-sans: InterVariable, Inter, sans-serif;
  --font-sans--font-feature-settings: 'cv02', 'cv03', 'cv04', 'cv11', 'ss01';
  --color-brand: var(--color-cyan-600);
  --color-brand-dark: var(--color-cyan-400);
  --color-focus: var(--color-blue-500);
}
